button {
    background-color: ghostwhite;
}



button:hover {
    background-color: cornflowerblue;
    color: ghostwhite;
    transition: 2s;
}


h1, p {
    text-align: center;
    padding-left:6em;
    padding-right:6em;
}
